<!DOCTYPE html>
<html>
<title>TIFWhitney</title>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/tifwhitney.css" >
		<link rel="stylesheet" type="text/css" href="../static/css/w3full.css">
		<link href="../static/css/js-image-slider.css" rel="stylesheet" type="text/css" >
    	<script src="../static/javascript/js-image-slider.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="fullcontainer">
			<div id="topnavcontainer" class="deep-purple-l1">
				<div id="topnav" class="deep-purple-l1">
					<a href="/">-HOME-</a>
					<a href="music">-MUSIC-</a>
					<a href="comments">-COMMENTS-</a>
					<a href="contact">-CONTACT-</a>
				</div>
			</div>
			<div id="mainbodycontainer">
				<div id="mainbody" class="w3-container">
						<!--freaking-->
					<div id="sliderFrame" style="box-shadow: 20px 20px 10px #000000; margin-top:60px;">
					    <div id="slider">
					        <img src="../static/images/performinghair.jpg" alt="HI GUYS"/>
					        <img src="../static/images/cutetifgirl.jpg" alt="I WUV SHRAPPY <3" />
					        <img src="../static/images/tifface.jpg" alt="IM IN SPACE!!!!!" />
					        <img src="../static/images/spaceface.jpg" alt="YO" />
					    </div> 
					</div>

				</div>
			</div>
			<div id="footercontainer">
				<div id="footer" class="w3-container deep-purple-l1">
					<div id="tifloginform">
						<form>
							User:<input type="text" name="tifuserform">
							Pass:<input type="password" name="tifpassform">
							<input type="submit" value="Login">
						</form>
					</div>
					<div class="footericons">
						<a target="_blank" href="https://www.facebook.com/pages/TIF-Music/585413191486286?fref=ts"><img src="../static/images/facebook.png"></a>
						<a target="_blank" href="https://twitter.com/TIFWhitney"><img src="../static/images/twittersmall.png"></a>
						<a target="_blank" href="https://soundcloud.com/tifwhitney-1"><img src="../static/images/soundcloud.png"></a>
						<a target="_blank" href="https://www.youtube.com/user/djtifwhitneydubstep"><img src="../static/images/youtube.png"></a>					
					</div>
				</div>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	</body>
</html>